<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>

    <!-- Agregar enlaces a los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container mt-5">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Ingresa tus credenciales</h2>
                        <hr>

                        <form action="" method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block" value="Ingresar">
                            </div>
                        </form>
                    </div>
                </div>             
            </div>
        </div> 

    </div>

    <!-- Agregar enlaces a los archivos JavaScript de Bootstrap si es necesario -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</body>
</html>
