<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleta</title>
</head>
<body>
    <img src="{{ logo_url }}" alt="Logo de la página">
    <h1>Detalles de la Transacción</h1>
    <p>VCI: {{ vci }}</p>
    <p>Monto: {{ amount }}</p>
    <p>Estado: {{ status }}</p>
    <p>Orden de compra: {{ buy_order }}</p>
    <p>session_id: {{ session_id }}</p>
    <p>card_detail: {{ card_detail }}</p>
    <p>accounting_date: {{ accounting_date }}</p>
    <p>transaction_date: {{ transaction_date }}</p>

    <h2>Detalle de la Compra</h2>
    <ul>
        {% for detalle in detalles_compra %}
            <li>{{ detalle.titulo }} - Cantidad: {{ detalle.cantidad }} - Precio Unitario: {{ detalle.precio_unitario }} - Precio Total: {{ detalle.precio_total }}</li>
        {% endfor %}
    </ul>
</body>
</html>
