<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleta</title>
</head>
<body>
    <h1>Detalles de la Transacción</h1>
    <p>VCI: {{ vci }}</p>
    <p>Monto: {{ amount }}</p>
    <p>Estado: {{ status }}</p>
    <p>Orden de compra: {{ buy_order }}</p>
    <p>session_id: {{ session_id }}</p>
    <p>card_detail: {{ card_detail }}</p>
    <p>accounting_date: {{ accounting_date }}</p>
    <p>transaction_date: {{ transaction_date }}</p>
    <!-- Agrega más campos según tus necesidades -->
</body>
</html>
