{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar Boleta</title>
</head>
<body>
    <h1>Detalles de la Transacción</h1>
    <p>VCI: {{ vci }}</p>
    <p>Monto: {{ data.amount }}</p>
    <p>Estado: {{ data.status }}</p>
    <p>Orden: {{ data.buy_order }}</p>
    <p>ID de Sesión: {{ data.session_id }}</p>
    <p>Tarjeta: {{ data.card_detail.card_number }}</p>
    <p>Fecha: {{ data.accounting_date }}</p>
    <p>Fecha de Transacción: {{ data.transaction_date }}</p>
    <h2>Detalle de la Compra</h2>
    <ul>
        {% for detalle in detalles_compra %}
            <li>{{ detalle.libro.titulo }} - Cantidad: {{ detalle.cantidad }} - Precio Unitario: {{ detalle.precio_unitario }} - Precio Total: {{ detalle.precio_total }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'generar_pdf' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="vci" value="{{ vci }}">
        <input type="hidden" name="amount" value="{{ data.amount }}">
        <input type="hidden" name="status" value="{{ data.status }}">
        <!-- Agrega más campos ocultos según tus necesidades -->

        <button type="submit">Generar PDF</button>
    </form>

</body>
</html>

{% endblock %}
