{% extends 'base.html' %}

{% load static %}

{% block js%}
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}


{% block contenido %}

<!-- deberá ir el slider y los productos -->
<h2>estas en el CREAR CUENTA.html</h2>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/iniciar_sesion_cuenta.css' %}">
</head>
<body>
    <div class="container">
        <form id="register-form">
            <h2>CREAR UNA CUENTA</h2>
            <input type="text" placeholder="nombre" id="name" />
            <input type="text" placeholder="apellido" id="lastname" />
            <input type="text" placeholder="correo electrónico" id="email" />
            <input type="password" placeholder="contraseña" id="password" />
            <button type="button" onclick="register()">GUARDAR</button>
        </form>
    </div>


</body>
</html>


{% endblock %}