{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if libro.imagen %}
                <img src="{{ libro.imagen.url }}" class="img-fluid" alt="{{ libro.titulo }}">
            {% else %}
                <!-- Si no hay imagen, puedes mostrar una imagen predeterminada o dejarlo en blanco -->
                <img src="{% static 'tu_ruta_default.jpg' %}" class="img-fluid" alt="{{ libro.titulo }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ libro.titulo }}</h2>
            <p>Autor: {{ libro.autor }}</p>
            <p>Editorial: {{ libro.editorial }}</p>
            <p>ISBN: {{ libro.ISBN }}</p>
            <p>Cantidad Disponible: {{ libro.cantidad_disponible }}</p>
            <p>Precio: ${{ libro.precio_venta }}</p>
            <p>Descripcion: {{ libro.descripcion }}</p>
            <!-- Puedes agregar más campos según sea necesario -->
            <a href="{% url 'agregar_al_carrito' isbn=libro.ISBN %}" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
{% endblock %}
