{% extends 'base.html' %}

{% load static %}
{% block contenido %}

<!-- deberá ir el slider y los productos -->
<h2>estas en el home .html</h2>
<div class="container">
    <div class="row">
        {% for libro in libros %}
            <div class="col-md-4">
                <div class="card">
                    {% if libro.imagen %}
                        <img src="{{ libro.imagen.url }}" class="card-img-top" alt="{{ libro.titulo }}">
                    {% else %}
                        <!-- Si no hay imagen, puedes mostrar una imagen predeterminada o dejarlo en blanco -->
                        <img src="{% static 'tu_ruta_default.jpg' %}" class="card-img-top" alt="{{ libro.titulo }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ libro.autor }}</h6>
                        <p class="card-text">Precio: ${{ libro.precio }}</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if libros.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ libros.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Página {{ libros.number }} de {{ libros.paginator.num_pages }}.
        </span>

        {% if libros.has_next %}
            <a href="?page={{ libros.next_page_number }}">next</a>
            <a href="?page={{ libros.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}