{% extends 'base.html' %}

{% load static %}

{% block js%}
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}


{% block contenido %}

<!-- deberá ir el slider y los productos -->
<h2>INICIAR SESION.html</h2>
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/iniciar_sesion_cuenta.css' %}">
</head>

<body>
    <div class="container">
        <form id="login-form">
            <h2>INICIAR SESIÓN</h2>
            <a href="{% url 'login' %}">
                <button type="button">Iniciar Sesión</button>
              </a>
        </form>

        <form id="register-form">
            <h2>¿ERES NUEVO?</h2>
            
            <a href="{% url 'crear_cuenta' %}">
                <button type="button">Crear Cuenta</button>
              </a>
              
            

        </form>
    </div>

    

    
</body>

</html>



{% endblock %}